[submodule "blog/themes/pickles"]
	path = blog/themes/pickles
	url = https://github.com/bemnlam/hugo_theme_pickles
[submodule "blog/content"]
	path = blog/content
	url = https://github.com/bemnlam/blog_posts.git
