[submodule "blog/content"]
	path = blog/content
	url = https://github.com/bemnlam/blog_posts.git
[submodule "blog/themes/blowfish"]
	path = blog/themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
